.myP{
    color: white;
    background-color: #b98ef2;
    font-size: 28px;
    font-family: Arial;
    margin-bottom: 200px;
    margin-left: 250px;

 }
 .myP2nd{
        
    color: white;
    background-color: darkolivegreen;
    font-size: 28px;
    font-family: "Roboto light";
    padding: 20px 100px 200px 400px;

 }
 

 .box{
margin-top: 25px;
margin-bottom: 28px;
padding: 20px;
border: 10px solid darkgrey;
border-radius: 100px;
background-color: burlywood;
text-align: center;

 }
 .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
 }

